html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 2rem;
  font-family: sans-serif; }

body {
  margin: 0; }

header .contenedor-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding: 1rem 0 0 0;
  border-bottom: solid 1px black; }
  header .contenedor-logos .contenedor-logo-efector {
    display: flex;
    height: 60px;
    width: auto; }
    header .contenedor-logos .contenedor-logo-efector .logo-efector {
      height: 40px;
      align-self: center; }
  header .contenedor-logos .contenedor-logos-secundarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    max-width: 50%;
    margin-left: 1.5rem; }
    header .contenedor-logos .contenedor-logos-secundarios .logo-adicional {
      height: 30px; }
    header .contenedor-logos .contenedor-logos-secundarios .logo-andes {
      height: 25px; }
header .contenedor-data-origen {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px black;
  padding: 1rem 0;
  height: auto; }
  header .contenedor-data-origen .contenedor-principal-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%; }
    header .contenedor-data-origen .contenedor-principal-data:nth-of-type(2) {
      margin-left: 2rem; }

.contenedor-secundario {
  display: flex;
  justify-content: space-between; }
  .contenedor-secundario.horizontal {
    flex-direction: row;
    justify-content: flex-start; }
    .contenedor-secundario.horizontal hr {
      margin: 0 0.35rem; }
  .contenedor-secundario.vertical {
    flex-direction: column;
    margin-bottom: 20px; }

.contenedor-bloque-texto {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .contenedor-bloque-texto h6 {
    margin: 0;
    white-space: nowrap; }

h1, h2, h3, h4, h5, h6 {
  margin: 0.25rem 0; }
  h1.bolder, h2.bolder, h3.bolder, h4.bolder, h5.bolder, h6.bolder {
    font-weight: 900; }

hr {
  margin: 5px 0 5px 0; }
  hr.sm {
    width: 15px; }
  hr.lg {
    width: 100%; }

.volanta {
  text-transform: uppercase;
  color: #a7a7a7; }

.subdata-italic {
  font-style: italic; }

.txt-right {
  text-align: right; }

main {
  padding: 1rem 0; }
  main .contenedor-concepto {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 0; }
  main .contenedor-concepto-data {
    display: flex;
    flex-direction: column;
    width: 100%; }
    main .contenedor-concepto-data > h3 {
      border-bottom: solid 1px black; }
  main .cabezal-conceptos {
    display: flex;
    justify-content: space-between; }
    main .cabezal-conceptos > h3 {
      width: auto; }
    main .cabezal-conceptos .contenedor-concepto-fecha {
      text-align: right;
      margin-bottom: 3vh; }

footer {
  align-self: flex-end;
  height: 300px;
  width: 100%; }

.contenedor-firmas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 1rem;
  text-align: center; }
  .contenedor-firmas > .contenedor-bloque-texto {
    align-items: center; }
  .contenedor-firmas img {
    width: 7rem;
    height: auto;
    background-color: lightgrey; }
  .contenedor-firmas h6 {
    line-height: 1.25rem; }

.contenedor-zocalo {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .contenedor-zocalo img {
    margin-right: 1rem; }
    .contenedor-zocalo img.logo-pdp {
      align-self: center;
      width: 40px; }
    .contenedor-zocalo img.logo-pdp-h {
      display: none; }
  .contenedor-zocalo hr {
    margin: 0 15px; }
  .contenedor-zocalo .contenedor-data-pdp {
    width: 60%;
    display: flex;
    align-self: center; }
  .contenedor-zocalo .contenedor-data-impresion {
    width: fit-content; }

@media screen and (min-width: 980px) {
  .contenedor-zocalo img.logo-pdp {
    display: none; }
  .contenedor-zocalo img.logo-pdp-h {
    display: initial;
    align-self: center;
    width: 100px; } }
@media screen and (min-width: 320px) and (max-width: 979px) {
  header .contenedor-logos .contenedor-logos-secundarios {
    display: none; } }

/*# sourceMappingURL=main.css.map */
